* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Georgia", serif;
  background: #de8bb6;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;    /* pusatkan horizontal */
  justify-content: flex-start;
  min-height: 100vh;
  overflow-y: auto;       /* scroll aktif */
  padding-top: 40px;      /* beri ruang biar rapi */
}
.intro-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;      /* jarak rapi antara tulisan & tombol */
  width: 100%;
}
.btn {
  padding: 10px 20px;
  font-size: 1rem;
  background: #f5eeef;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: rgb(5, 2, 2);
  transition: 0.3s;
}
.btn:hover {
  background: #b1acad;
}
.letter {
  margin: 0 auto; 
  display: none;
  background: repeating-linear-gradient(
    to bottom,
    #fdf6e3 0px,
    #fdf6e3 27px,
    #d2d2d2 28px
  );
  color: #333;
  padding: 30px 30px 30px 70px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  min-height: 600px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: left;
  position: relative;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  font-family: "Courier New", monospace;
  scroll: visible;
}
.letter p {
  margin-top: -55px;
  overflow: hidden;
}
.letter::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 100%;
  background-image: radial-gradient(circle, #1e1e2f 6px, transparent 7px);
  background-size: 25px 40px;
  background-repeat: repeat-y;
  background-position: center;
  pointer-events: none;
}
.signature {
  position: absolute;
  bottom: 40px;
  right: 30px;
  width: 150px;
  opacity: 0.9;
  transform: rotate(-2deg);
}
.back-btn {
  display: none;   /* ini penting! tombol tidak muncul di intro */
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 6px 12px;
  background: #f5eeef;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2rem;
  color: #333;
  transition: 0.3s;
  z-index: 999;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.back-btn:hover {
  background: #dcdcdc;
}

